{% extends "BaseInicial.html" %}
{% block title %}  {% endblock title%}
{% load static %}
{% block content %}
    <div class="container" id="conteudo">
      <div class="h1 text-center mt-5 mb-5" style="background-color:#83d4b6;
      font-family:Times, serif;">Campanhas Recentes de Ongs</div>
{% if postAnunc %}
    {% for post in postAnunc %}
                         <div class=" bg-light text-dark rounded m-auto container border border-dark ">

                        <br>
                         <a href="{% url 'url_visitPerfilNotLog' post.id_ong%}">

                             <img src="{{ post.id_ong.imagem.url }}" class="rounded-pill" style="width:50px; height:50px;" alt="consertar">

                             <p class="d-inline font-weight-bolder text-dark" style="text-decoration:none;">{{ post.id_ong }}</p><br>
                         </a>
                         <a style="font-size:13px;">{{post.data_publicacao}}</a>
                        <br>
                        <br>

                        <h5>{{post.titulo}}</h5>
                        <p>{{post.descricao}}</p>

                        <div class="text-center">
                         <img src="{{ post.imagem.url }}" class="img-fluid rounded">
                        </div>
                            <br>
                          <footer class="p-3 mt-2 rounded" style="background-color: #c4c4c4;">
                            <span class="tw-heart-box">
                              <input type="checkbox" name="name" value="">
                              <span class="tw-heart"></span>
                          </span>

                                    <a href="https://api.whatsapp.com/send?phone=55{{post.id_ong.id_numero}}" target=”_blank” class="float-right">
                                      <img src="{% static 'whatsapp.png' %}" width="35px" height=""  alt="chat whatsapp">
                                    </a>

                          </footer><br>
                    </div>
                    <br>

        {% endfor %}
{% else %}

        <div class="h1 text-center p-3">Nenhuma Campanha Recente</div>


{% endif %}

    </div>

 {% endblock content %}