<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>{% block title %} Inicial {% endblock title %}</title>
     <style>
        body{
        overflow-x:hidden;
        background: url("/static/donate-fundo4.jpg")
        }

    </style>
        {% load static %}

</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary row">
    <div class="col-md-4">
           <img src="{% static 'logo.png' %}">
    </div>

    <div class="col text-center d-flex">
        <a href="/"><button class="nav-link text-dark bg-light rounded-pill mr-2 align-self-stretch" id="projeto" >Projeto</button></a>
        <a href="/login/"><button class="nav-link text-dark bg-light rounded-pill mr-2 d-flex align-items-baseline" id="login">Login</button></a>
        <a href="/cadastroOng/"><button class="nav-link text-dark bg-light rounded-pill mr-2" id="cadastroOng">Cadastro de Ong</button></a>
        <a href="/cadastroUser/"><button class="nav-link text-dark bg-light rounded-pill mr-2" id="cadastroUser">Cadastro de Doador</button></a>
    </div>

    <a href="" class="text-dark mr-1">
        <svg viewBox="0 0 24 24" class="mr-2" width="30" height="30" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
    </a>
<a href="" class="text-dark mr-5">
    <svg viewBox="0 0 24 24" width="30  " height="30" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
</a>

</nav>

{% block content %}

{% endblock content %}


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>