{% extends "BaseInicial.html" %}
{% block title %}  {% endblock title%}
{% block content %}
<!-- FORM DE CADASTRO DE ENDEREÇO E CONTATO DE ONG -->
{% load crispy_forms_tags %}
    <div class="container-lg">
        <div class="p-5 mt-5 container-lg rounded forms">
        {% load crispy_forms_tags %}
            <div class="text-center">
                <h2>Você é:</h2>
                <a href="/cadastroEndeOng/"><button type="button" class="btn btn-cad" style="border:solid;"> Ong </button></a>
                <a href="/cadastroEnde/"><button type="button" class="btn btn-cad" > Doador </button></a>  </div>
                <br>
                <div class="rounded form" >
                    <h1 class="text-center">Endereço</h1>
                    <form enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        {{formEndOng|crispy}}
                        {{formCont | crispy}}
                        <br>
                         <button type="submit" class="btn float-right btn btn-cad" style="background-color:#57b5ac;">>>></button>
                        <br>
                    </form>
                </div>
            </div>
          <br>
    </div>
 {% endblock content %}