{% extends "BaseInicial.html" %}
{% block title %} Cadastrando Usuário {% endblock title%}
{% load crispy_forms_tags %}
 {% block content %}
<div class="container-lg">
<div class="p-5 mt-5 bg-secondary container-lg rounded">
    <h2 class="col text-center">Cadastro de E-mail</h2>
    <p class="col text-center">------------------------Form-----------------------------</p>
    <br>
    <br>
    <h2 class="col text-center">Cadastro de Número</h2>
    <p class="col text-center">------------------------Form-----------------------------</p>
    <br>
    <br>
    <h2 class="col text-center">Cadastro de User</h2>
    <p class="col text-center">------------------------Form-----------------------------</p>
    <br>
    <br>
</div>
</div>
 {% endblock content %}