{% extends "BaseInicial.html" %}
{% block title %} Cadastrando Usuário {% endblock title%}
{% load crispy_forms_tags %}
 {% block content %}
<div class="container-lg">
<div class="p-5 mt-5 container-lg rounded forms">
    {% if formCad %}
    <h1 class="text-center">Dados do Doador</h1>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{formCad|crispy}}
        <button type="submit" class="btn my-3" style="background-color:#57b5ac">Salvar</button>
    </form>

{% endif %}

</div>
</div>
 {% endblock content %}