{% extends "BaseInicial.html" %}
{% block title %}  {% endblock title%}

 {% block content %}
<div class="container-lg">
<div class="p-5 mt-5 bg-secondary container-lg rounded">
    <h2 class="col text-center">Cadastro de E-mail</h2>
    <p class="col text-center">------------------------Form-----------------------------</p>
    <br>
    <br>
    <h2 class="col text-center">Cadastro de Número</h2>
    <p class="col text-center">------------------------Form-----------------------------</p>
    <br>
    <br>
    <h2 class="col text-center">Cadastro de Ong</h2>
    <p class="col text-center">------------------------Form-----------------------------</p>
    <br>
    <br>
</div>
</div>
 {% endblock content %}