{% extends "BaseInicial.html" %}
{% block title %}  {% endblock title%}
<!-- FORM CADASTRO DE ENDERECO E CONTATO DO DOADOR -->
 {% block content %}
    <div class="container-lg">
        <div class="p-5 mt-5 container-lg rounded forms">
        {% load crispy_forms_tags %}
            <div class="text-center">
                <h2>Você é:</h2>
                <a href="/cadastroEndeOng/"><button type="button" class="btn btn-cad"> Ong </button></a>
                <a href="/cadastroEnde/"><button type="button" class="btn btn-cad" style="border:solid;"> Doador </button></a>
            </div>
            <br>
            <div class="rounded">
                {% if formEnd %}
                <h1 class="text-center">Endereço</h1>
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{formEnd|crispy}}
                    {{formCont | crispy}}
                    <br>
                     <button type="submit" class="btn float-right" style="background-color:#57b5ac;">>>></button>
                    <br>
                </form>
                {% endif %}
            </div>
        </div>
        <br>
    </div>
 {% endblock content %}