{% extends "base.html" %}
{% block title %} Home {% endblock title%}
{% load static %}
 {% block content %}
<!-- SE LOGADO -->
{% if acesso %}
<!-- FORM EDITAR POSTS -->
    <div class=" bg-light border border-dark text-dark rounded m-auto container" style="height:px;">
        {% load crispy_forms_tags %}
            <h1 class="text-center">Editando Postagem</h1>
             <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{formEditPostDoador|crispy}}
                <button type="submit" class="btn btn-primary my-3">Salvar</button>
            </form>
        <br>
        <br>
    </div>

<!-- SE DESLOGADO -->
{% else %}
    <div class="msg-deslogado">
        <h1>Volte para a página de Login para poder acessar está Página</h1>
        <br>
        <a href="{% url 'url_login' %}"><button class="btn-deslogado">Clique aqui para Logar!</button></a>
    </div>
{% endif %}

 {% endblock content %}