{% extends "base.html" %}
{% block title %} Home {% endblock title%}
{% load static %}
 {% block content %}
<!-- SE ESTIVER LOGADO O IF É VERDADEIRO ENTÃO ELE EXIBE A TELA CORRETAMENTE -->
{% if acesso %}

<div id="carroselAnucios" class="carousel slide carroselAnucios" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="{% static 'anuncio1.jpg' %}" height="180px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'anuncio2.png' %}" height="180px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'anuncio3.png' %}" height="180px" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<br>


<div class=" container p-3" style="box-shadow:1px 1px 5px">
    <ul class="container text-center scroll-x mt-3">
        <li class="mr-2">Tipo de <br> Postagens:</li>
        <li><a href="{% url 'url_homePostOng' %}"><button class="btn btn-tipo mr-2">ONGS</button></a></li>
        <li><a href="{% url 'url_homePostDoador' %}"><button class="btn btn-tipo mr-2">DOADORES</button></a></li>
        <li><a href="{% url 'url_homePostEventos' %}"><button class="btn btn-tipo mr-2">Eventos</button></a></li>
        <li><a href="{% url 'url_homePostCalcados' %}"><button class="btn btn-tipo mr-2">Calçados</button></a></li>
        <li><a href="{% url 'url_homePostRoupas' %}"><button class="btn btn-tipo mr-2">Roupas</button></a></li>
        <li><a href="{% url 'url_homePostAlimentos' %}"><button class="btn btn-tipo mr-2">Alimentos</button></a></li>
        <li><a href="{% url 'url_homePostMoveis' %}"><button class="btn btn-tipo mr-2">Móveis</button></a></li>
        <li><a href="{% url 'url_homePostEletrodomesticos' %}"><button class="btn btn-tipo mr-2">Eletrodomésticos</button></a></li>
        <li><a href="{% url 'url_homePostDoacao' %}"><button class="btn btn-tipo mr-2">Doacao</button></a></li>
    </ul>
</div>
   <br>

    {% if postAlimentos or postAlimentosOng %}
    <div class="row">
      <div class="col-lg-9 posts">
        {% for post in postAlimentos %}
                         <div class=" bg-light text-dark rounded m-auto container border border-dark">

                        <br>
                         <a href="{% url 'url_visitPerfil' post.id_doador%}">
                                        <img src="{{post.id_doador.imagem.url}}" class="rounded-pill" style="width:50px; height:50px;" alt="consertar">


                              <p class="d-inline font-weight-bolder text-dark" style="text-decoration:none;">{{ post.id_doador }}</p><br>
                         </a>
                         <a style="font-size:13px;">{{post.data_publicacao}}</a>

                        <br>
                        <br>

                        <h5>{{post.titulo}}</h5>
                        <p>{{post.descricao}}</p>

                        <div class="text-center">
                         <img src="{{ post.imagem.url }}" class="img-fluid rounded">
                        </div>
                            <br>
                            <footer class="p-3 mt-2 rounded" style="background-color: #c4c4c4;">
                              <div class="col">
                                  
                                <span class="tw-heart-box">
                                  <input type="checkbox" name="name" value="">
                                  <span class="tw-heart"></span>
                              </span>
          
                                  <a class="float-right" href="https://api.whatsapp.com/send?phone=55{{post.id_doador.id_numero}}" target=”_blank” >
                                      <img src="{% static 'whatsapp.png' %}" width="35px" height=""  alt="chat whatsapp">
                                  </a>
                              </div>
                          </footer><br>
                    </div>

                    <br>

        {% endfor %}
    
        {% for post in postAlimentosOng %}
                         <div class=" bg-light text-dark rounded m-auto container border border-dark">

                        <br>
                         <a href="{% url 'url_visitPerfil' post.id_ong%}">
                                        <img src="{{post.id_ong.imagem.url}}" class="rounded-pill" style="width:50px; height:50px;" alt="consertar">


                              <p class="d-inline font-weight-bolder text-dark" style="text-decoration:none;">{{ post.id_ong }}</p><br>
                         </a>
                         <a style="font-size:13px;">{{post.data_publicacao}}</a>

                        <br>
                        <br>

                        <h5>{{post.titulo}}</h5>
                        <p>{{post.descricao}}</p>

                        <div class="text-center">
                         <img src="{{ post.imagem.url }}" class="img-fluid rounded">
                        </div>
                            <br>
                            <footer class="p-3 mt-2 rounded" style="background-color: #c4c4c4;">
                              <div class="col">
                                  
                                <span class="tw-heart-box">
                                  <input type="checkbox" name="name" value="">
                                  <span class="tw-heart"></span>
                              </span>
          
                                  <a class="float-right" href="https://api.whatsapp.com/send?phone=55{{post.id_doador.id_numero}}" target=”_blank” >
                                      <img src="{% static 'whatsapp.png' %}" width="35px" height=""  alt="chat whatsapp">
                                  </a>
                              </div>
                          </footer>
                          <br>
                    </div>
                    <br>
        {% endfor %}

      </div>
      <div class="col anuncios">
          <img src="{% static 'anuncio1.jpg' %}" class="" height="180px" width="230"><br>
          <img src="{% static 'anuncio2.png' %}"  class="mt-1" height="180px" width="230"><br>
          <img src="{% static 'anuncio3.png' %}" class="mt-1" height="180px" width="230">
      </div>
  </div>

    {% else %}
        <div class="container text-center h1">Nenhuma Postagem para Visualizar</div>
    {% endif %}

<!-- ELSE QUE EXIBE MENSSAGEM QUANDO USUARIO ACESSA A PÁGINA SEM ESTAR LOGADO -->
{% else %}

<div class="msg-deslogado">

    <h1>Volte para a página de Login para poder acessar está Página</h1>
    <br>
    <!-- BOTÃO REDIRECIONANDO PARA PAGINA DE LOGIN -->
    <a href="{% url 'url_login' %}"><button class="btn-deslogado">Clique aqui para Logar!</button></a>
</div>

{% endif %}

{% endblock content %}