{% extends "base.html" %}
{% block title %} Home {% endblock title%}
{% load static %}
 {% block content %}


<div class=" bg-light border border-dark text-dark rounded m-auto container" style="height:px;">


  <h1 class="text-center">Dados Gerais</h1>
  <p class="text-center">---------------------------------------------------------------------</p>

  <h1 class="text-center">Endereço</h1>
  <p class="text-center">---------------------------------------------------------------------</p>


  <h1 class="text-center">Telefones</h1>
  <p class="text-center">---------------------------------------------------------------------</p>



<br>
<br>
</div>




 {% endblock content %}