{% extends "base.html" %}
{% block title %} Home {% endblock title%}
{% load static %}
 {% block content %}
<!-- VERIFICA USER -->
{% if acesso %}
<!-- FORMULÁRIOS PARA ATUALIZAR OS DADOS DO USUÁRIO  -->
    <div class=" bg-light border border-dark text-dark rounded m-auto container" style="height:px;">
<!-- FORMULARIO DE USUÁRIO-->
        {% load crispy_forms_tags %}
          <h1 class="text-center">Dados Gerais</h1>
             <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{formUpdate|crispy}}
                <label>Foto atual:</label><br>
                <img src="{{ userUp.imagem.url }}" class="rounded" style="width:200px; height:200px;" alt="consertar">
                <br><br>
                   <!-- Selecionando Imagem de Perfil -->
                   <div class="form-group">  
                    <input class="file-button" id="imgPerfil" required name="imgPerfil" type="button" value="Esolher nova Foto de Perfil">
                </div>
                <div class="form-group">
                    <!-- invisível -->
                    <input class="file-chooser" oninvalid="alert('Selecione uma imagem')" id="imgPerfil1" name="imgPerfil1" type="file" accept="image/*" hidden>
                    <img class="preview-img" style="border-radius:10px;width:200px; height:200px;">
                </div>
                <button type="submit" class="btn btn-primary my-3">Salvar</button>
            </form>
<!-- FORMULARIO DE ENDEREÇO -->
          <h1 class="text-center">Endereço</h1>
          <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{formUpdateEnd|crispy}}
                <button type="submit" class="btn btn-primary my-3">Salvar</button>
            </form>
<!-- FORMULARIO DE CONTATO -->
          <h1 class="text-center">Telefones</h1>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ formCont|crispy }}
                <button type="submit" class="btn btn-primary my-3">Salvar</button>
            </form>
            <br>
            <br>
    </div>

{% else %}
    <div class="msg-deslogado">
        <h1>Volte para a página de Login para poder acessar está Página</h1>
        <br>
        <a href="{% url 'url_login' %}"><button class="btn-deslogado">Clique aqui para Logar!</button></a>
    </div>
{% endif %}




<script> 
    const $ = document.querySelector.bind(document);

    const previewImg = $('.preview-img');
    const fileChooser = $('.file-chooser');
    const fileButton = $('.file-button');

    fileButton.onclick = () => fileChooser.click();

    fileChooser.onchange = e => {
        const fileToUpload = e.target.files.item(0);
        const reader = new FileReader();
        reader.onload = e => previewImg.src = e.target.result;
        reader.readAsDataURL(fileToUpload);
    };
    </script>
 {% endblock content %}