{% extends "BaseInicial.html" %}
{% block title %}  {% endblock title%}

 {% block content %}

<div class="container">

    <div class="container bg-secondary mt-5 rounded p-5">
        <h2 style="text-align:center;"> LOGIN</h2><br>
        <h4 class="p-2">E-mail: </h4>
        <input type="email" class="form-control d-inline">
        <br><br>
        <h4 class="p-2">Senha: </h4>
        <input type="password" class="form-control ">
        <br>
        <br>
<div class="col text-center">
        <button type="button" class="btn btn-primary" style="width:5em; height:3em">Entrar</button><br><br>
     </div>
        <a href="" class="text-light">Esqueceu a senha?</a>
        <a href="/cadastro/" class="float-right text-light">Criar uma conta como Ong</a><br>
        <a href="/cadastro/" class="float-right text-light">Criar uma conta como Doador</a>




    </div>

</div>

 {% endblock content %}