{% extends "base.html" %}
{% block title %} Home {% endblock title%}
{% load static %}
 {% block content %}


<div class=" bg-light border border-dark text-dark rounded m-auto container">

{% load crispy_forms_tags %}
  <h1 class="text-center">Criando Postagem</h1>
     <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{formPost|crispy}}
        <button type="submit" class="btn btn-primary my-3">Salvar</button>
    </form>

<br>
<br>
</div>

 {% endblock content %}