{% extends "base.html" %}
{% block title %} Perfil {% endblock title%}
{% load static %}

 {% block content %}
<!-- VERIFICA SE ESTA LOGADO -->
{% if acesso %}
    <div class="container rounded" >
    <h1 class="text-center" style="background-color: #57b5ac;">Suas Postagens</h1>
    </div>
    <!-- VERIFICA O TIPO DO USUARIO LOGADO PARA PUXAR DA TABELA CERTA -->
    {% if tipoUser == "doador" %}
        <div class="text-center">
        <a href="{% url 'url_newPost' userLog.id_doador %}" type="button">
            <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill text-success btn-add" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
        </a>
        </div>
        <br>
        <br>
<!-- FOR PARA EXIBIR AS POSTAGENS DO DOADOR -->
    {% for post in posts %}
        <div class=" bg-light text-dark rounded m-auto container border border-dark">
            <div style="display:flex; justify-content:space-between;">
                <div>
                    <br>
                      <img src="{{ userLog.imagem.url }}" class="rounded-pill" style="width:50px; height:50px;">
                      <p class="d-inline" style="font-weight:bold; font-size:150%;">{{ post.id_doador }}</p>
                    <br>{{post.data_publicacao}}
                </div>


                <div class="btn-editDel">
                        <div class="btn btn-edit mt-3">
                              <a href="{% url 'url_editPostDoador' post.id_publicacao_doador %}">
                             <svg width="30" height="30" viewBox="0 0 16 16" class="bi bi-pencil-fill float-right "  xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                </svg>
                            </a>
                        </div>
                        <div class=" btn btn-del mt-3">
                            <a href="{% url 'url_deletePostDoador' post.id_publicacao_doador %}">
                                <svg width="30" height="30" viewBox="0 0 16 16" class="bi bi-trash-fill "  xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                </svg>
                            </a>
                        </div>
                </div>
            </div>
            <br>
            <br>

            <h5>{{post.titulo}}</h5>
            <p>{{post.descricao}}</p>

            <div class="text-center">
             <img src="{{ post.imagem.url }}" class="img-fluid rounded">
            </div>
                <br>
              <footer class="p-3 mt-2 rounded" style="background-color: #c4c4c4;">
                <span class="tw-heart-box">
                    <input type="checkbox" name="name" value="">
                    <span class="tw-heart"></span>
                </span>

                        <a class="float-right">
                            <img src="{% static 'whatsapp.png' %}" width="35px" height=""  alt="chat whatsapp">
                        </a>

              </footer><br>
        </div>
        <br>
    {% endfor %}
<!-- ELSE PARA TIPOUSER = ONG -->

{% else %}

    <!-- BOTÃO ADD POSTAGEM -->
    <div class="text-center">
    <a href="{% url 'url_newPostOng' userLog.id_ong%}">
        <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill text-success btn-add" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
    </a>
    </div>
    <br>
    <!-- FOR PARA EXIBIR POSTAGENS DA ONG -->
    {% for post in posts %}
        <div class=" bg-light text-dark rounded m-auto container border border-dark">
         <div style="display:flex; justify-content:space-between;">
                <div>
                    <br>
                      <img src="{{ userLog.imagem.url }}" class=" img-fluid rounded-pill" style="width:50px; height:50px;">
                      <p class="d-inline" style="font-weight:bold; font-size:150%;">{{ post.id_ong }}</p>
                    <br>{{post.data_publicacao}}
                </div>


                <div class="btn-editDel">
                        <div class="btn btn-edit mt-3">
                              <a href="{% url 'url_editPostOng' post.id_publicacao_Ong %}">
                             <svg width="30" height="30" viewBox="0 0 16 16" class="bi bi-pencil-fill float-right "  xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                </svg>
                            </a>
                        </div>
                        <div class=" btn btn-del mt-3">
                            <a href="{% url 'url_deletePostOng' post.id_publicacao_Ong %}">
                                <svg width="30" height="30" viewBox="0 0 16 16" class="bi bi-trash-fill "  xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                </svg>
                            </a>
                        </div>
                </div>
            </div>
            <br>
            <br>

            <h5>{{post.titulo}}</h5>
            <p>{{post.descricao}}</p>

            <div class="text-center">
             <img src="{{ post.imagem.url }}" class="img-fluid rounded">
            </div>
                <br>
              <footer class=" p-3 mt-2" style="background-color: #c4c4c4;">

                <span class="tw-heart-box">
                    <input type="checkbox" name="name" value="">
                    <span class="tw-heart"></span>
                </span>

                        <a class="float-right">
                            <img src="{% static 'whatsapp.png' %}" width="35px" height=""  alt="chat whatsapp">
                            </svg>
                        </a>
              </footer><br>
        </div>
        <br>
    {% endfor %}

{% endif %}

{% else %}
    <div class="msg-deslogado">
        <h1>Volte para a página de Login para poder acessar está Página</h1>
        <br>
        <a href="{% url 'url_login' %}"><button class="btn-deslogado">Clique aqui para Logar!</button></a>
    </div>
{% endif %}


 {% endblock content %}