{% extends "BaseInicial.html" %}
{% block title %}  {% endblock title%}

{% block content %}
<!-- LOGIN -->
    <div class="container">
        <div class="container">
            <form action="" method="POST">
                {% csrf_token %}
                <!-- FORMULÁRIO DE LOGIN -->
                <div class="container mt-5 rounded p-3 forms" style="box-shadow: 0px 2px 10px 3px;">
                    <h2 style="text-align:center;color:#57b5ac;font-family:Times;">Recuperando Senha</h2><br>
                    <h4 class="p-2">Informe o E-mail: </h4>
                    <input type="email" id="emailRec" name="emailRec" required class="form-control d-inline" >
                    <br><br>
                    <div>
                        <h4 class="p-2">Informe o CNPJ: </h4>
                        <input type="text" id="cnpjRec" name="cnpjRec" oninvalid="O campo deve receber ao menos 11 caracteres" class="form-control"  data-mask="00.000.000/0000-00"  minlength="11" maxlength="18"><br>
                            <h4>Ou</h4>
                        <h4 class="p-2">Informe o CPF: </h4>
                        <input type="text" id="cpfRec" name="cpfRec" oninvalid="O campo deve receber ao menos 11 caracteres" class="form-control"  data-mask="000.000.000-00"  minlength="11" maxlength="18">
                    </div>
                    <h4 class="p-2">Nova Senha: </h4>
                    <input type="password" id="senhaRec" name="senhaRec" class="form-control" required oninvalid="Digite ao menos 8 caracteres" minlength="8">
                    <!-- MENSSAGEM DE ERRO AO LOGAR -->
                    {% if erroRec %}
                         <script>  
                            Swal.fire({
                                icon: 'error',
                                title: 'Dados Incorretos',
                                text: 'Email e CPF/CNPJ não são compatíveis',
                            })
                        </script> 
                    {% endif %}
                    <br>

                    <div class="col text-center">
                    <button type="submit" class="btn btn-logar">Entrar</button><br><br>
                    </div>
                    <!-- BOTÕES DE CADASTRO E RECUPERAÇÃO DE SENHA -->
                    <a href="/login/" class=" senha">Faça o Login para Entrar</a>
                    <a href="/cadastroEndeOng/" class="float-right">Criar uma conta como Ong?</a><br><br>
                    <a href="/cadastroEnde/" class="float-right">Criar uma conta como Doador?</a><br>
                </div>
            </form>
        </div>
    </div>
    <br>

 {% endblock content %}