{% extends "BaseInicial.html" %}
    {% block title %} Campanhas{% endblock title%}
    {% load static %}
{% block content %}


<!-- VERIFICA SE O PERFIL QUE ESTA SENDO VISITADO É DE UMA ONG OU DE UM DOADOR, PARA BUSCAR NA TABELA CORRETA -->
    {% if tipoVisitado == 'ong' %}
        <!-- CÓDIGO QUE EXIBE OS DADOS DO USUARIOS VISITADO -->
            <div class="container mt-5">
                <div class="bg-light p-3 rounded">
                   <span style="font-size:30px;" class="mr-5">
                    <img src="{{ perfilVisitado.imagem.url }}" class="img-fluid rounded-pill" style="width:200px; height:auto;">
                       <a style="font-weight:bold; font-size:120%;">{{ perfilVisitado.nome }}</a>
                   </span><br><br><br>
                    <h3 class=""  style="display:flex; justify-content: flex-start; flex-wrap:wrap; flex-direction:column;">
                        <div class="">> Cidade: {{endVisitado.cidade}}</div>
                        <div class="">> Telefone: {{telefone.telefone}}  <a class="" href="https://api.whatsapp.com/send?phone=55{{telefone.telefone}}" target=”_blank” >
                            <img src="{% static 'whatsapp.png' %}" width="35px" height=""  alt="chat whatsapp">
                        </a></div>
                   </h3>
                </div><br>

                <h1 class="text-center" style="background-color:#3eb59b;color:white;font-family:Times, serif;"> Postagens </h1><br>
        <!-- CÓDIGO QUE EXIBE AS POSTAGENS DO USUÁRIO VISITADO -->
        {% for post in postagensVisitado %}
            <div class=" bg-light text-dark m-auto container i_post">
                <br>
                <span class="mr-5">
                    <img src="{{ perfilVisitado.imagem.url }}" class="img-fluid rounded-pill" style="width:50px; height:50px;">
                    <a style="font-weight:bold; font-size:150%;">{{ post.id_ong }}</a>
                </span>
                <br>
                <a style="font-size:13px;">{{post.data_publicacao}}</a>
                <br>
                <br>

                <h5>{{post.titulo}}</h5>
                <p>{{post.descricao}}</p>

                <div class="text-center">
                    <img src="{{ post.imagem.url }}" class="img-fluid rounded">
                </div>
                <br>
                   <footer class="p-3 mt-2 rounded " style="background-color: #c4c4c4;">
                    <span class="tw-heart-box">
                        <input type="checkbox" name="name" value="">
                        <span class="tw-heart"></span>
                    </span>


                        <a href="https://api.whatsapp.com/send?phone=55{{post.id_ong.id_numero}}" target=”_blank” class="float-right">
                            <img src="{% static 'whatsapp.png' %}" width="35px" height=""  alt="chat whatsapp">
                        </a>
                   </footer>
                   <br>
            </div>
            <br>
        {% endfor %}
        </div>

<!-- SE FOR UM DOADOR, ELE BUSCA NA TABELA DOADOR PARA EXIBIR OS DADOS -->
    {% else %}

    <div class="container">
          <div class="bg-light p-3 rounded">
          <span style="font-size:30px;" class="mr-5">
              <img src="{{ perfilVisitado.imagem.url }}" class="img-fluid rounded-pill" style="width:200px; height:auto;">
              <a  style="font-weight:bold; font-size:120%;">{{ perfilVisitado.nome }}</a>
           </span><br><br><br>
            <h3 class=""  style="display:flex; justify-content: flex-start; flex-wrap:wrap; flex-direction:column;">
                <div class="">> Cidade: {{endVisitado.cidade}}</div>
                <div class="">> Telefone: {{telefone.telefone}}</div>
           </h3>
        </div><br>
        <!-- Postagens do perfil Visitado -->

        <h1 class="text-center" style="background-color:#3eb59b;color:white;font-family:Times, serif;"> Postagens </h1><br>
    {% for post in postagensVisitado %}
        <div class=" bg-light text-dark m-auto container i_post">

            <br>
            <span class="mr-5">
                <img src="{{ perfilVisitado.imagem.url }}" class="img-fluid rounded-pill" style="width:50px; height:50px;">
                <a style="font-weight:bold; font-size:150%;">{{ post.id_doador }}</a>
            </span><br>
                <a style="font-size:13px;">{{post.data_publicacao}}</a>
            <br>
            <br>

            <h5>{{post.titulo}}</h5>
            <p>{{post.descricao}}</p>

            <div class="text-center">
             <img src="{{ post.imagem.url }}" class="img-fluid rounded">
            </div>
                <br>
                <footer class="p-3 mt-2 rounded" style="background-color: #c4c4c4;">
                    <span class="tw-heart-box">
                        <input type="checkbox" name="name" value="">
                        <span class="tw-heart"></span>
                    </span>

                        <a class="float-right">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-chat-square-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.5a2 2 0 0 1 1.6.8L8 14.333 9.9 11.8a2 2 0 0 1 1.6-.8H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                              <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                        </a>

                </footer>
                <br>
        </div>
                <br>
        {% endfor %}
        </div>
{% endif %}


{% endblock content %}